<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anycast default project">
    <title>{{block "title" . }} {{.String.Title}} {{end}}</title>
    <link rel="stylesheet" href="/assets/css/classless.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <main>{{- block "main" . }} {{ end }}</main>
</body>
</html>

