<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="World Today">
    <title>{{block "title" . }} {{.String.Title}} {{end}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/javascripts/data-toggle.js"></script>
</head>
<body>
  {{ template "part/header" . }}
  {{- block "main" . }} {{ end }}
  {{ template "part/footer" . }}
  {{ template "part/sign-in" . }}
</body>
</html>
