//
// GLOBAL
//-----------------------------------------------------------------------

body {
  background: $color-body-background;
  transition: .2s;


  // OVERLAY MASK

  &.toggle-open {

    @media #{$breakpoint-small-max} {
      overflow: hidden;
    }

    @include mask;
  }

}
