//
// BASE / RESET
//-----------------------------------------------------------------------

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

html {
  box-sizing: border-box;
}

body {
  padding-bottom: $space-huge;
  background-color: $white;
  background-image: url('/assets/image/bg-mountains.jpg'),
                    linear-gradient(to bottom, rgba($white, 1), rgba($white, 0)),
                    url('/assets/image/bg-mountains.jpg');
  background-position: top center, bottom 13.22vw center, bottom -35vw center;
  background-size: contain, 100% 13.22vw, contain;
  background-repeat: no-repeat;

  @media #{$breakpoint-medium} {
    padding-bottom: $space-huge-md;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;

  &[width],
  &[height] {
    max-width: none;
  }
}

ul, ol, {
  list-style: none;
}
