//
// TYPE
//-----------------------------------------------------------------------

html {
  font-size: 62.5%; // SETS BODY DEFAULT SIZE TO 10PX
}

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
  line-height: $text-line-height;
  color: $color-text;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$breakpoint-medium} {
    font-size: $text-font-size-md;
    line-height: $text-line-height-md;
  }

}


// HEADINGS // Move to utilities?
//---------------------------

h1, h2, h3, h4,
.u-header-super,
.u-header-xlarge,
.u-header-large,
.u-header-medium,
.u-header-small,
.u-header-xsmall {
  font-weight: $text-font-weight-heavy;
  line-height: 1.25;
}

.u-header-super {
  font-size: 64rem;

  @media #{$breakpoint-medium} {
    font-size: 8rem;
  }
}

.u-header-xlarge {
  font-size: 2.4rem;

  @media #{$breakpoint-medium} {
    font-size: 4rem;
  }
}

h1, .u-header-large {
  font-size: 2rem;

  @media #{$breakpoint-medium} {
    font-size: 3.2rem;
  }
}

h2, .u-header-medium {
  font-size: 2.4rem;

  @media #{$breakpoint-medium} {
    font-size: 2.4rem;
  }
}

h3, .u-header-small {
  font-size: 1.6rem;
  font-weight: $text-font-weight;

  @media #{$breakpoint-medium} {
    font-size: 1.8rem;
  }
}

h4, .u-header-xsmall {
  color: $color-gray-2;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: $spacing-small;
  text-transform: uppercase;
  border-bottom: $border-width solid $color-gray-3;
  margin-bottom: $spacing-xsmall;
}


// PARAGRAPHS
//---------------------------

p {
  & + & {
    margin-top: $spacing-xsmall;
  }

  @media #{$breakpoint-medium} {
    & + & {
      margin-top: $spacing-xsmall;
    }
  }
}


// LINKS
//---------------------------

a {
  text-decoration: none;
  color: $color-text;
  transition: .2s;
}

p a {
  color: $color-text;
  border-bottom: 1px solid $color-gray-3;

  &:hover, &:focus {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }

}


// LISTS
//---------------------------

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


// SELECTIONS
//---------------------------

::selection {
  background: $color-gray-1;
  color: $color-white;
}

::-moz-selection {
  background: $color-gray-1;
  color: $color-white;
}


// OTHER
//---------------------------

address {
  font-style: normal;
}

hr {
  border: none;
  border-bottom: 1px solid $border-color;
}
