//
// BASE / TYPE
//-----------------------------------------------------------------------

body {
  font-family: $font-regular;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $fg-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$breakpoint-medium} {
    font-size: $base-font-size-md;
    line-height: $base-line-height-md;
  }
}


// Headings
// -------------------------

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 1.675rem;

  @media #{$breakpoint-medium} {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.375rem;
  max-width: 20rem;

  @media #{$breakpoint-medium} {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.125rem;

  @media #{$breakpoint-medium} {
    font-size: 1.25rem;
  }
}


// Paragraphs
// -------------------------

p {
  & + & {
    margin-top: $space-small;
  }

  @media #{$breakpoint-medium} {
    & + & {
      margin-top: $space-small-md;
    }
  }
}


// Links
// -------------------------

a {
  color: currentColor;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}


// Other
// -------------------------

strong {
  font-weight: bold;
}

address {
  font-style: normal;
}
