//
// TYPE
//-----------------------------------------------------------------------

html {
  font-size: 62.5%; // SETS BODY DEFAULT SIZE TO 10PX
}

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
  line-height: $text-line-height;
  color: $color-text;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$breakpoint-medium} {
    font-size: $text-font-size-md;
    line-height: $text-line-height-md;
  }
}


// HEADINGS
//---------------------------

h1, h2, h3, h4 {
  line-height: 1.25;
  font-weight: $text-font-weight-medium;
  margin-bottom: $spacing-xsmall;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-xsmall-md;
  }
}

h1 {
  font-weight: $text-font-weight-heavy;
  @extend .u-header-large;
}

h2 {
  font-weight: $text-font-weight-heavy;
  font-size: 2.4rem;
  @extend .u-header-medium;
}

h3 {
  font-size: 1.6rem;
  @extend .u-header-small;
}

h4 {
  color: $color-gray-2;
  letter-spacing: 0.1em;
  line-height: $spacing-medium;
  text-transform: uppercase;
  border-bottom: $border-width solid $color-gray-3;
  @extend .u-header-xsmall;
}


// PARAGRAPHS
//---------------------------

p {
  line-height: 180%;
  margin-bottom: $spacing-xsmall;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-xsmall-md;
  }
}


// LINKS
//---------------------------

a {
  text-decoration: none;
  color: $color-text;
  transition: .2s;
}

p a, .c-link {
  border-bottom: 1px solid $color-gray-3;

  &:hover, &:focus {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }

}


// SELECTIONS
//---------------------------

::selection {
  background: $color-gray-1;
  color: $color-white;
}

::-moz-selection {
  background: $color-gray-1;
  color: $color-white;
}


// OTHER
//---------------------------

address {
  font-style: normal;
}

hr {
  border: none;
  border-bottom: 1px solid $border-color;
}

img {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-medium;
  display: block;
}

figure {
  margin: 0;
}
