//
// TYPE
//-----------------------------------------------------------------------

html {
  font-size: 62.5%; // SETS BODY DEFAULT SIZE TO 10PX
}

body {
  font-family: $font-family-base;
  font-size: 1.8rem;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}


// HEADERS

.jumbo, .h1, .h2, .h3 {
  margin-bottom: $header-margin;
  font-weight: 700;
  line-height: 1.08;

  &:not(:first-child) {
    margin-top: $header-margin * 2;
  }

}

.jumbo {
  font-size: 9.6rem;
}

.h1, h1 {
  font-size: 4.8rem;
}

.h2, h2 {
  font-size: 3.2rem;
}

.h3, h3 {
  font-size: 2.4rem;
}

.paragraph {
  font-weight: normal;
  margin-bottom: $paragraph-margin;

  &--large {
    font-size: 2.4rem;
  }

  &--loud {
    font-weight: 700;
  }

  &--muted {
    color: $gray-light;
  }

}

.text {

  &--muted {
    color: $gray-light;
  }

}

a {
  text-decoration: none;
  color: $base-font-color;
  transition: .2s;
}

.link {
  color: $link-color;
  border-bottom: 1px solid $link-color;

  &:hover, &:focus {
    color: $link-color-hover;
    border-color: $link-color-hover;
  }

  &--muted {
    border: none;
  }

  &--light {
    color: $gray-lighter;
    border-color: $gray-lighter;

    &:focus, &:hover {
      color: $white;
      border-color: $white;
    }
  }

}


// BASIC LISTS

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.default {
  &, ul {
    list-style-type: disc;
    margin: 0 0 $base-margin 0;
    padding-left: $base-margin;

    li {
      margin-bottom: $paragraph-margin;
    }

  }
}

ol.default {
  &, ol {
    list-style-type: decimal;
    margin: 0 0 $base-margin 0;
    padding-left: $base-margin;

    li {
      margin-bottom: $paragraph-margin;
    }

  }
}

dl {
  display: grid;
  margin: $base-margin 0 $paragraph-margin;

  dt {
    padding-top: $paragraph-margin;
    font-weight: bold;
  }

  dd {
    padding-bottom: $paragraph-margin;
    border-bottom: 1px solid $base-border-color;
  }

  @media (min-width: $wide) {
    display: grid;
    grid-template: auto / repeat(2, auto);
    margin-bottom: 0;

    dt, dd {
      padding-bottom: $paragraph-margin;
      margin-bottom: $paragraph-margin;
    }

    dt {
      padding-top: 0;
      padding-right: $grid*2;
      border-bottom: 1px solid $base-border-color;
    }

  }

}


// SELECTIONS

::selection {
  background: $gray-dark;
  color: $white;
}

::-moz-selection {
  background: $gray-dark;
  color: $white;
}


// OTHER

.truncate {
  @include truncate;
}

address {
  font-style: normal;
  margin-bottom: $base-margin;
}

hr {
  border: none;
  border-bottom: 1px solid $base-border-color;
  margin: $base-margin 0;
}
