//
// VARIABLES
//-----------------------------------------------------------------------

// COLORS
//---------------------------

$black:                   #000;
$gray-1:                  #333;
$gray-2:                  #8A8A8A;
$gray-3:                  #BFBFBF;
$gray-4:                  #E0E0E0;
$gray-5:                  #F5F5F5;
$white:                   #fff;

$gray-lighter:            #BDBDBD;
$gray-light:              #828282;
$gray:                    #777;
$gray-dark:               #333333;

$brand-primary:           #6F19DD;
$brand-secendary:         #FA8E6B;

$brand-success:           #27AE60;
$brand-info:              #2D9CDB;
$brand-warning:           #F2C94C;
$brand-danger:            #EB5757;


// TYPOGRAPHY
//---------------------------

$font-family-sans-serif:  'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Playfair Display', 'Georgia' serif;

$font-family-base:        $font-family-sans-serif !default;

$base-line-height:        1.625;

$normal:                  300;
$bold:                    500;


// BASE PROPERTIES
//---------------------------

$base-body-background:    #E0E0E0;
$background-light-gray:   #F2F2F2;

$base-body-color:         $gray-1;
$base-font-color:         $gray-1;

$link-color:              $brand-primary;
$link-color-hover:        darken($brand-primary, 10%);

$base-border-color:       #E0E0E0;
$base-border-radius:      .2rem;

$grid:                    0.8rem;
$gutter:                  $grid * 4;

$xsmall:                  $grid * 2;    // 16px
$small:                   $grid * 4;    // 32px
$medium:                  $grid * 6;    // 48px
$large:                   $grid * 8;    // 64px
$xlarge:                  $grid * 10;   // 80px
$super:                   $grid * 12;   // 96px

$base-margin:             $small;
$header-margin:           $grid * 3;
$paragraph-margin:        $grid * 2;

$nav-height:              $grid * 8;


// BREAKPOINTS
//---------------------------

$wide:                    900px;
$wide-max:                899px;


// Z-INDEXES
//---------------------------

$zindex-menu:             1000;
$zindex-navbar:           1010;
$zindex-modal:            1040;
$zindex-alert:            1050;
