//
// A MOBILE FIRST GRID
//
@supports (display: grid) {
  //
  // PAGE GRID
  //
  header {
    grid-area: hd;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: ft;
  }
  .container {
    display: grid;
    grid-template-areas: "hd" "main" "ft";
    grid-template-rows: 300px auto 40px;
    height: 100vh;
  }
}
