// ELEMENTS BY JohannesLeuchovius.com
//-----------------------------------------------------------------------

//
// VENDOR
//---------------------------

@import "vendor/normalize";


// FONTS & ICONS
//---------------------------

//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700|Playfair+Display:700');
@import 'vendor/icons.scss';


// SETUP
//---------------------------

@import "setup/variables";
@import "setup/mixins";


// BASE
//---------------------------

@import "base/global";
@import "base/type";


// LAYOUT
//---------------------------

@import "layout/container";
@import "layout/base";
@import "layout/grid";
@import "layout/modal";


// COMPONENTS
//---------------------------

@import "components/buttons";
@import "components/icons";
@import "components/media";
@import "components/navs";
@import "components/navbar";
@import "components/menus";
@import "components/filter";
@import "components/articles";
@import "components/chips";
@import "components/avatars";
@import "components/footer";
@import "components/ads";
//@import "components/forms";
@import "components/hero";
//@import "components/alert";
//@import "components/animation";
//@import "components/text";


// UTILITIES
//---------------------------

@import "utilities/utilities";
