{{- define "part/articles--unordered" -}}

<ul class="c-articles">
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item">
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>

</ul>

{{ end -}}

