{{- define "part/articles" -}}

<ul class="c-articles">

  <li class="c-article__item c-article__item--business c-article__item--this">
    <span class="c-article__order">1</span>
    <a href="article.html" class="c-article__link">A small river named Duden flows by their place</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu c-menu--this">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__item--this, .c-article__actions.c-menu--this, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--business c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
              <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="/article.html" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__item--this, .c-article__actions.c-menu--this, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>

  <li class="c-article__item c-article__item--this-2 c-article__item--upvoted c-article__item--economics">
    <span class="c-article__order">2</span>
    <a href="article.html" class="c-article__link">Far far away behind the word mountains</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Independent.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu c-menu--this-2">
      <button class="c-article__action c-button c-button--upvote c-button--active"><span class="icon c-button__icon icon--arrow-up"></span><span class="u-hidden-active u-hidden-sm">Upvote</span><span class="u-hidden-inactive u-hidden-sm">Upvoted</span></button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__item--this-2, .c-article__actions.c-menu--this-2, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link c-nav__link--active"><span class="c-nav__icon icon icon--arrow-up"></span><span class="u-hidden-active">Upvote</span><span class="u-hidden-inactive">Upvoted</span></a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>
  <li class="c-article__item c-article__item--environment">
    <span class="c-article__order">3</span>
    <a href="article.html" class="c-article__link">A small river named Duden flows by their place</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>

  <li class="c-article__item c-article__item--general">
    <span class="c-article__order">4</span>
    <a href="article.html" class="c-article__link">Far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item c-article__item--upvoted c-article__item--health">
    <span class="c-article__order">5</span>
    <a href="article.html" class="c-article__link">Separated they live in Bookmarksgrove right at the coast of the Semantics</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action c-button c-button--upvote c-button--active"><span class="icon c-button__icon icon--arrow-up"></span><span class="u-hidden-active u-hidden-sm">Upvote</span><span class="u-hidden-inactive u-hidden-sm">Upvoted</span></button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link c-nav__link--active"><span class="c-nav__icon icon icon--arrow-up"></span><span class="u-hidden-active">Upvote</span><span class="u-hidden-inactive">Upvoted</span></a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item c-article__item--politics">
    <span class="c-article__order">6</span>
    <a href="article.html" class="c-article__link">Far far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item c-article__item--science">
    <span class="c-article__order">7</span>
    <a href="article.html" class="c-article__link">Separated they live in Bookmarksgrove right at the coast of the Semantics</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item c-article__item--upvoted c-article__item--technology">
    <span class="c-article__order">8</span>
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action c-button c-button--upvote c-button--active"><span class="icon c-button__icon icon--arrow-up"></span><span class="u-hidden-active u-hidden-sm">Upvote</span><span class="u-hidden-inactive u-hidden-sm">Upvoted</span></button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link c-nav__link--active"><span class="c-nav__icon icon icon--arrow-up"></span><span class="u-hidden-active">Upvote</span><span class="u-hidden-inactive">Upvoted</span></a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item">
    <span class="c-article__order">9</span>
    <a href="article.html" class="c-article__link">Separated they live in Bookmarksgrove right at the coast of the Semantics</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item">
    <span class="c-article__order">10</span>
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item">
    <span class="c-article__order">11</span>
    <a href="article.html" class="c-article__link">Separated they live in Bookmarksgrove right at the coast of the Semantics</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>


  <li class="c-article__item">
    <span class="c-article__order">12</span>
    <a href="article.html" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
    <ul class="c-article__meta-items">
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">Vox.com</a></li>
      <li class="c-article__meta-item">5h ago</li>
      <li class="c-article__meta-item">2.1k upvotes</li>
      <li class="c-article__meta-item"><a href="#" class="c-article__meta-link">64 comments</a></li>
      <li class="c-article__meta-item c-article__meta-item--categories"><a href="#" class="c-article__meta-link">Politics</a><span class="u-divider-dot"></span><a href="#" class="c-article__meta-link">Brexit</a></li>
    </ul>
    <div class="c-article__actions c-menu">
      <button class="c-article__action u-hidden-sm c-button c-button--upvote"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
      <button class="c-article__action c-button c-button--icon c-menu__toggle" data-toggle=".c-article__actions.c-menu, body"><span class="icon icon--more-horizontal"></span></button>
      <div class="c-menu__content">
        <div class="c-menu__header u-hidden-md">
          <div class="c-article__item c-article__item--snapshot">
            <span class="c-article__order">1</span>
            <a href="#" class="c-article__link">Far far away behind the word mountains, far from the countries Vokalia and Consonantia</a>
            <ul class="c-article__meta-items">
              <li class="c-article__meta-item">Vox.com</li>
              <li class="c-article__meta-item">5h ago</li>
              <li class="c-article__meta-item">2.1k upvotes</li>
              <li class="c-article__meta-item">64 comments</li>
            </ul>
          </div>
        </div>
        <nav class="c-nav c-nav--list">
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up-right"></span>Read article</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--arrow-up"></span>Upvote</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--message-square"></span>Discuss</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--bookmark"></span>Save</a>
          <a href="#" class="c-nav__link"><span class="c-nav__icon icon icon--share"></span>Share</a>
          <a href="#" class="c-nav__link c-nav__link--divider-above u-hidden-md" data-toggle=".c-article__actions.c-menu, body"><span class="c-nav__icon icon icon--x"></span>Cancel</a>
        </nav>
      </div>
    </div>
  </li>

</ul>

{{ end -}}

