{{- define "part/footer" -}}
    {{- range .Array.Footer }}

    <footer class="c-footer l-footer l-container">

      <nav class="c-nav c-nav--small u-text-quiet">
        <a class="c-nav__link" href="/about.html">About</a>
        <a class="c-nav__link" href="/privacy.html">Privacy</a>
        <a class="c-nav__link" href="/terms.html">Terms</a>
        <a class="c-nav__link" href="/feedback.html">Feedback</a>
        <a class="c-nav__link" href="/contact.html">Contact</a>
        <a class="c-nav__link" data-toggle="#sign-in-step1, body" href="#">Sign in</a>
      </nav>

    </footer>

    {{- end }}
{{ end }}
