{{- define "part/header" -}}
  <header class="c-navbar l-container">

    <nav class="c-navbar__nav c-nav">
      <a class="c-nav__link" href="/"><span class="icon icon--arrow-left"></span></a>
    </nav>

    <a class="c-navbar__brand" href="/">World Today</a>

    <nav class="c-navbar__nav c-nav">
      <div class="c-nav__entry c-menu">
        <a class="c-nav__link c-menu__toggle" href="#" data-toggle=".c-navbar .c-menu"><span class="icon icon--user"></span></a>
        <div class="c-menu__content">
          <nav class="c-nav c-nav--list">
            <a href="/profile" class="c-nav__link"><span class="c-nav__icon icon icon--user"></span>Profile</a>
            <a href="/settings" class="c-nav__link"><span class="c-nav__icon icon icon--settings"></span>Settings</a>
            <a href="/signout" class="c-nav__link"><span class="c-nav__icon icon icon--log-out"></span>Sign out</a>
          </nav>
        </div>
      </div>
    </nav>

  </header>
{{ end -}}

