{{- define "part/sign-in" -}}

<button type="button" class="c-button c-button--default" data-toggle="#sign-in-step1, body">Sign in</button>

<div id="sign-in-step1" role="dialog" class="l-modal l-modal--spaced toggle-open u-align-center">
  <button type="button" class="c-button c-button--close" data-toggle="#sign-in-step1, body">&times;</button>
  <h1 class="c-heading u-text-serif">Welcome back</h1>
  <p>Sign in to upvote, discuss, and bookmark articles and access your profile.</p>
  <ul class="l-list">
    <li><button type="button" class="c-button c-button--primary"><span class="icon c-button__icon icon--google"></span>Sign in with Google</button></li>
    <li><button type="button" class="c-button c-button--primary"><span class="icon c-button__icon icon--facebook"></span>Sign in with Facebook</button></li>
    <li><button type="button" class="c-button c-button--primary"><span class="icon c-button__icon icon--twitter"></span>Sign in with Twitter</button></li>
    <li><button type="button" class="c-button c-button--primary" data-toggle="#sign-in-step2"><span class="icon c-button__icon icon--mail"></span>Sign in with email</button></li>
  </ul>
</div>


{{ end }}
