@keyframes fade-in {}*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  padding-bottom: 5.7rem;
  background-color: #f5f5f5;
  background-image: url("/assets/image/bg-mountains.jpg"), linear-gradient(to bottom, whitesmoke, rgba(245, 245, 245, 0)), url("/assets/image/bg-mountains.jpg");
  background-position: top center, bottom 30vw center, bottom -35vw center;
  background-size: 200% auto, 100% 13.22vw, 125% auto;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 48rem) {
    body {
      padding-bottom: 11.8125rem;
      background-position: top center, bottom 13.22vw center, bottom -35vw center;
      background-size: contain, 100% 13.22vw, contain; } }

img {
  max-width: 100%;
  vertical-align: middle; }
  img[width], img[height] {
    max-width: none; }

ul, ol {
  list-style: none; }

body {
  font-family: "Work Sans", "Helveteica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.425;
  color: #3503b3;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 48rem) {
    body {
      font-size: 1.125rem;
      line-height: 1.5; } }

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.25; }

h1 {
  font-size: 1.675rem; }
  @media only screen and (min-width: 48rem) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 1.375rem;
  max-width: 20rem; }
  @media only screen and (min-width: 48rem) {
    h2 {
      font-size: 1.5rem; } }

h3 {
  font-size: 1.125rem; }
  @media only screen and (min-width: 48rem) {
    h3 {
      font-size: 1.25rem; } }

p + p {
  margin-top: 1.06875rem; }

@media only screen and (min-width: 48rem) {
  p + p {
    margin-top: 1.26562rem; } }

a {
  color: currentColor;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

strong {
  font-weight: bold; }

address {
  font-style: normal; }

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  padding: 0 1.06875rem; }
  @media only screen and (min-width: 48rem) {
    .l-container {
      padding: 0 1.6875rem; } }

.l-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.1375rem; }
  @media only screen and (min-width: 48rem) {
    .l-grid {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 4.275rem; } }

@media only screen and (min-width: 48rem) {
  .l-grid__item--span-1 {
    grid-column-end: span 1; }
  .l-grid__item--span-2 {
    grid-column-end: span 2; }
  .l-grid__item--span-3 {
    grid-column-end: span 3; }
  .l-grid__item--span-4 {
    grid-column-end: span 4; }
  .l-grid__item--span-5 {
    grid-column-end: span 5; }
  .l-grid__item--span-6 {
    grid-column-end: span 6; } }

@media only screen and (min-width: 48rem) {
  .l-grid__item--offset-1 {
    grid-column-start: 2; }
  .l-grid__item--offset-2 {
    grid-column-start: 3; }
  .l-grid__item--offset-3 {
    grid-column-start: 4; }
  .l-grid__item--offset-4 {
    grid-column-start: 5; }
  .l-grid__item--offset-5 {
    grid-column-start: 6; } }

.l-flex {
  display: flex;
  align-items: center; }

.l-flex--apart {
  justify-content: space-between; }

.l-section {
  margin-top: 5.7rem;
  margin-bottom: 5.7rem; }
  @media only screen and (min-width: 48rem) {
    .l-section {
      margin-top: 11.8125rem;
      margin-bottom: 11.8125rem; } }

.l-list {
  display: flex;
  flex-direction: column; }
  .l-list > li + li {
    margin-top: 1.06875rem; }

.l-list--inline {
  flex-direction: row; }
  .l-list--inline > li + li {
    margin-top: 0;
    margin-left: 1.06875rem; }

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.35625rem 1.425rem;
  border: 3px solid;
  border-radius: 100em;
  color: #f5f5f5;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap; }
  .c-button:hover, .c-button:focus {
    text-decoration: none;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    color: #f5f5f5;
    transition: all 0.15s ease-out; }
  @media only screen and (min-width: 48rem) {
    .c-button {
      font-size: 1.375rem; } }

.c-avatar {
  display: block;
  border-radius: 50%;
  width: 8rem;
  max-width: 100%; }
  @media only screen and (min-width: 48rem) {
    .c-avatar {
      width: 10rem; } }

.c-avatar--small {
  width: 2.5rem;
  height: 2.5rem; }

.c-avatar--small {
  width: 2.5rem;
  height: 2.5rem; }

.c-navigation {
  padding-top: 1.425rem; }
  @media only screen and (min-width: 48rem) {
    .c-navigation {
      padding-top: 5.0625rem; } }

.c-navigation__link {
  text-decoration: none;
  font-weight: bold; }
  .c-navigation__link:hover, .c-navigation__link:focus {
    text-decoration: underline; }

.c-navigation__logo img {
  height: 32px; }

@media only screen and (min-width: 48rem) {
  .c-navigation__logo img {
    height: 41px; } }

.u-margin-top-none {
  margin-top: 0 !important; }

.u-margin-left-tiny {
  margin-left: 0.35625rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-left-tiny {
      margin-left: 0.42188rem !important; } }

.u-margin-top-small {
  margin-top: 0.7125rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-small {
      margin-top: 0.84375rem !important; } }

.u-margin-top-baseline {
  margin-top: 1.425rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-baseline {
      margin-top: 1.6875rem !important; } }

.u-margin-top-large {
  margin-top: 2.1375rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-large {
      margin-top: 2.53125rem !important; } }

.u-margin-top-xlarge {
  margin-top: 4.275rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-xlarge {
      margin-top: 5.0625rem !important; } }

.u-margin-top-huge {
  margin-top: 5.7rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-huge {
      margin-top: 11.8125rem !important; } }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-small {
  margin-bottom: 0.7125rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-small {
      margin-bottom: 0.84375rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.06875rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-small {
      margin-bottom: 1.26562rem !important; } }

.u-margin-bottom-baseline {
  margin-bottom: 1.425rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-baseline {
      margin-bottom: 1.6875rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 2.1375rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-large {
      margin-bottom: 2.53125rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 4.275rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-large {
      margin-bottom: 5.0625rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 5.7rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-huge {
      margin-bottom: 11.8125rem !important; } }

.u-header-huge {
  font-size: 2.75rem;
  font-weight: bold; }
  @media only screen and (min-width: 48rem) {
    .u-header-huge {
      font-size: 5rem; } }

.u-text-large {
  font-size: 1.25rem; }
  @media only screen and (min-width: 48rem) {
    .u-text-large {
      font-size: 1.5rem; } }

@media only screen and (max-width: 47.99rem) {
  .u-align-center-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media only screen and (min-width: 48rem) {
  .u-align-left-md {
    display: unset;
    flex-direction: unset;
    align-items: unset;
    text-align: unset; } }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }
  body:hover .u-visually-hidden a,
  body:hover .u-visually-hidden input,
  body:hover .u-visually-hidden button {
    display: none !important; }

.u-overline {
  position: relative;
  padding-top: 2.1375rem; }
  .u-overline:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: rgba(53, 3, 179, 0.2); }
  @media only screen and (min-width: 48rem) {
    .u-overline {
      padding-top: 2.53125rem; } }

.u-offset-underline {
  position: relative;
  padding-bottom: 2.1375rem; }
  .u-offset-underline:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: -100vw;
    width: calc(100vw + 100px);
    height: 6px;
    background-image: linear-gradient(to right, rgba(53, 3, 179, 0) 75vw, rgba(53, 3, 179, 0.2) 85vw, rgba(53, 3, 179, 0.2) 100%); }
  @media only screen and (min-width: 48rem) {
    .u-offset-underline {
      padding-bottom: 2.53125rem; }
      .u-offset-underline:before {
        width: calc(100vw + 175px); } }

.u-offset-overline {
  position: relative;
  padding-top: 2.1375rem; }
  .u-offset-overline:before {
    position: absolute;
    content: '';
    top: 0;
    left: -100vw;
    width: calc(100vw + 100px);
    height: 6px;
    background-image: linear-gradient(to right, rgba(53, 3, 179, 0) 75vw, rgba(53, 3, 179, 0.2) 85vw, rgba(53, 3, 179, 0.2) 100%); }
  @media only screen and (min-width: 48rem) {
    .u-offset-overline {
      padding-top: 2.53125rem; }
      .u-offset-overline:before {
        width: calc(100vw + 175px); } }

/*# sourceMappingURL=main.css.map */