@keyframes fade-in {}*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  background-color: #f5f5f5; }

img {
  max-width: 100%;
  vertical-align: middle; }
  img[width], img[height] {
    max-width: none; }

ul, ol {
  list-style: none; }

body {
  font-family: "Work Sans", "Helveteica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.425;
  color: #3503b3;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 48rem) {
    body {
      font-size: 1.125rem;
      line-height: 1.5; } }

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.25; }

h1 {
  font-size: 1.675rem; }
  @media only screen and (min-width: 48rem) {
    h1 {
      font-size: 3rem;
      line-height: 1.25; } }

h2 {
  font-size: 1.375rem; }
  @media only screen and (min-width: 48rem) {
    h2 {
      font-size: 2.375rem; } }

a {
  color: currentColor;
  font-weight: bold;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

strong {
  font-weight: bold; }

address {
  font-style: normal; }

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  padding: 0 1.06875rem; }
  @media only screen and (min-width: 48rem) {
    .l-container {
      padding: 0 1.6875rem; } }

@media only screen and (min-width: 48rem) {
  .l-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.425rem; } }

.l-grid__item--span-2 {
  grid-column-end: span 2; }

.l-grid__item--span-3 {
  grid-column-end: span 3; }

.l-grid__item--span-4 {
  grid-column-end: span 4; }

.l-grid__item--span-5 {
  grid-column-end: span 5; }

.l-grid__item--span-6 {
  grid-column-end: span 6; }

.l-grid__item--offset-1 {
  grid-column-start: 2; }

.l-grid__item--offset-2 {
  grid-column-start: 3; }

.l-grid__item--offset-3 {
  grid-column-start: 4; }

.l-grid__item--offset-4 {
  grid-column-start: 5; }

.l-grid__item--offset-5 {
  grid-column-start: 6; }

.l-list {
  width: 100%; }
  .l-list * + * {
    margin-top: 0; }
  .l-list > li + li {
    margin-top: 0.7125rem; }
  .l-list > li {
    display: flex;
    justify-content: space-between; }

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.35625rem 1.425rem;
  border: 3px solid;
  border-radius: 100em;
  color: #f5f5f5;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap; }
  .c-button:hover, .c-button:focus {
    text-decoration: none;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    color: #f5f5f5;
    transition: all 0.15s ease-out; }
  @media only screen and (min-width: 48rem) {
    .c-button {
      font-size: 1.375rem; } }

.u-margin-top-none {
  margin-top: 0 !important; }

.u-margin-left-tiny {
  margin-left: 0.35625rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-left-tiny {
      margin-left: 0.42188rem !important; } }

.u-margin-top-small {
  margin-top: 0.7125rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-small {
      margin-top: 0.84375rem !important; } }

.u-margin-top-baseline {
  margin-top: 1.425rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-baseline {
      margin-top: 1.6875rem !important; } }

.u-margin-top-large {
  margin-top: 2.1375rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-large {
      margin-top: 2.53125rem !important; } }

.u-margin-top-xlarge {
  margin-top: 2.85rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-xlarge {
      margin-top: 3.375rem !important; } }

.u-margin-top-huge {
  margin-top: 5.7rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-huge {
      margin-top: 6.75rem !important; } }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-small {
  margin-bottom: 1.06875rem !important; }

.u-margin-bottom-baseline {
  margin-bottom: 1.425rem !important; }

.u-margin-bottom-large {
  margin-bottom: 2.1375rem !important; }

.u-margin-right-xsmall {
  margin-right: 0.7125rem !important; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }
  body:hover .u-visually-hidden a,
  body:hover .u-visually-hidden input,
  body:hover .u-visually-hidden button {
    display: none !important; }

/*# sourceMappingURL=main.css.map */