//
// UTILITIES / ALIGNMENT
//-----------------------------------------------------------------------

@media #{$breakpoint-small-max} {

  .u-align-center-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media #{$breakpoint-medium} {

  .u-align-left-md {
    display: unset;
    flex-direction: unset;
    align-items: unset;
    text-align: unset;
  }
}
