//
// UTILITIES / MIX
//-----------------------------------------------------------------------

// TRUNCATE

.truncate {
  @include truncate;
}


// DIVIDERS

.u-divider-dot {
  margin: 0 $spacing-tiny;
  display: inline-block;

  &:after {
    content: '•';
  }
}


// MAX WIDTHS

.u-max-width-tiny {
  max-width: 24rem;
}

// MAX HEIGHTS

.u-max-height-medium {
  max-height: 50vh;

  @media #{$breakpoint-medium} {
    max-height: 80vh;
  }
}


// ZOOM

.u-scale-up-20 {
  transform: scale(1.2);
  z-index: 0;
}