//
// UTILITIES / SPACING
//-----------------------------------------------------------------------

// Top margin
// -------------------------

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-left-tiny {
  margin-left: $space-tiny !important;

  @media #{$breakpoint-medium} {
    margin-left: $space-tiny-md !important;
  }
}

.u-margin-top-small {
  margin-top: $space-xsmall !important;

  @media #{$breakpoint-medium} {
    margin-top: $space-xsmall-md !important;
  }
}

.u-margin-top-baseline {
  margin-top: $space-base !important;

  @media #{$breakpoint-medium} {
    margin-top: $space-base-md !important;
  }
}

.u-margin-top-large {
  margin-top: $space-large !important;

  @media #{$breakpoint-medium} {
    margin-top: $space-large-md !important;
  }
}

.u-margin-top-xlarge {
  margin-top: $space-xlarge !important;

  @media #{$breakpoint-medium} {
    margin-top: $space-xlarge-md !important;
  }
}

.u-margin-top-huge {
  margin-top: $space-huge !important;

  @media #{$breakpoint-medium} {
    margin-top: $space-huge-md !important;
  }
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-small {
  margin-bottom: $space-small !important;
}

.u-margin-bottom-baseline {
  margin-bottom: $space-base !important;
}

.u-margin-bottom-large {
  margin-bottom: $space-large !important;
}

.u-margin-right-xsmall {
  margin-right: $space-xsmall !important;
}
