//
// UTILITIES / SPACING
//-----------------------------------------------------------------------

// MARGIN
//---------------------------

// RIGHT

.u-margin-right-xsmall {
  margin-right: $spacing-xsmall;

  @media #{$breakpoint-medium} {
    margin-right: $spacing-xsmall-md;
  }
}

// BOTTOM

.u-margin-bottom-tiny {
  margin-bottom: $spacing-tiny;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-tiny-md;
  }
}

.u-margin-bottom-xsmall {
  margin-bottom: $spacing-xsmall;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-xsmall-md;
  }
}

.u-margin-bottom-small {
  margin-bottom: $spacing-small;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-small-md;
  }
}

.u-margin-bottom-medium {
  margin-bottom: $spacing-medium;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-medium-md;
  }
}

.u-margin-bottom-large {
  margin-bottom: $spacing-large;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-large-md;
  }
}

.u-margin-bottom-xlarge {
  margin-bottom: $spacing-xlarge;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-xlarge-md;
  }
}

.u-margin-bottom-super {
  margin-bottom: $spacing-super;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-super-md;
  }
}


// PADDING
//---------------------------

.u-padding-top-medium {
  padding-top: $spacing-medium;

  @media #{$breakpoint-medium} {
    padding-top: $spacing-medium-md;
  }
}

.u-padding-bottom-medium {
  padding-bottom: $spacing-medium;

  @media #{$breakpoint-medium} {
    padding-bottom: $spacing-medium-md;
  }
}
