//
// UTILITIES / TYPE
//-----------------------------------------------------------------------

.u-text-quiet {
  color: $color-gray-2;

  a {
    color: $color-gray-2;
  }
}

.u-text-loud {
  font-weight: $text-font-weight-heavy;
}

.u-text-serif {
  font-family: $text-font-family-serif;
}

.u-text-primary {
  color: $color-brand-primary;
}


// HEADER SIZES
//---------------------------

.u-header-huge {
  font-size: 5.2rem;
  //line-height: 1.3;

  @media #{$breakpoint-medium} {
    font-size: 5.2rem * 2;
  }
}

.u-header-xlarge {
  font-size: 4.1rem;

  @media #{$breakpoint-medium} {
    font-size: 5.2rem;
  }
}

.u-header-large { // h1
  font-size: 3.2rem;

  @media #{$breakpoint-medium} {
    font-size: 4.1rem;
  }

}

.u-header-medium { // h2
  font-size: 2.5rem;

  @media #{$breakpoint-medium} {
    font-size: 3.2rem;
  }
}

.u-header-small { // h3
  font-size: 1.6rem;

  @media #{$breakpoint-medium} {
    font-size: 1.8rem;
  }
}

.u-header-xsmall { // h4
  font-size: 1.2rem;

  @media #{$breakpoint-medium} {
    font-size: 1.4rem;
  }
}

// TEXT SIZES
//---------------------------

.u-text-large {
  font-size: 2rem;

  @media #{$breakpoint-medium} {
    font-size: 2.5rem;
  }
}

.u-text-small { // P small
  font-size: $text-font-size-small; // 1.6rem

  @media #{$breakpoint-medium} {
    font-size: $text-font-size-small-md; // 1.8rem
  }
}

.u-text-xsmall { // P small
  font-size: $text-font-size-xsmall; // 1.4rem

  @media #{$breakpoint-medium} {
    font-size: $text-font-size-xsmall-md; // 1.6rem
  }
}