//
// UTILITIES / TYPE
//-----------------------------------------------------------------------

.u-header-huge {
  font-size: 2.75rem;
  font-weight: bold;

  @media #{$breakpoint-medium} {
    font-size: 4.5rem;
  }
}

.u-text-large {
  font-size: $large-font-size;

  @media #{$breakpoint-medium} {
    font-size: $large-font-size-md;
  }
}
