//
// UTILITIES
//-----------------------------------------------------------------------

// TYPE
//---------------------------

.u-text-quiet {
  color: $color-gray-2;
}

.u-text-loud {
}

// ELEVATION
//---------------------------

.u-high {
  box-shadow: $box-shadow-high;
}

.u-higher {
  box-shadow: $box-shadow-higher;
}

.u-highest {
  box-shadow: $box-shadow-highest;
}


// VISIBILITY
//---------------------------

@media #{$breakpoint-small-max} {

  .u-hidden-small {
    display: none !important;
  }
}

@media #{$breakpoint-medium} {

  .u-hidden-medium {
    display: none !important;
  }
}

// MIX
//---------------------------

.truncate {
  @include truncate;
}

.divider-dot {
  margin: 0 $spacing-tiny/2;
  display: inline-block;

  &:after {
    content: '•';
  }
}