//
// UTILITIES / VISIBILITY
//-----------------------------------------------------------------------

@media #{$breakpoint-small-max} {

  .u-hidden-sm {
    display: none !important;
  }
}

@media #{$breakpoint-medium} {

  .u-hidden-md {
    display: none !important;
  }
}


// INACTIVE AND ACTIVE

.c-button, .c-nav__link {

  .u-hidden-inactive {
    display: none;
  }

  &--active {

    .u-hidden-inactive {
      display: inline;
    }

    .u-hidden-active {
      display: none;
    }
  }
}