//
// ADS
//-----------------------------------------------------------------------

.c-google-ad {
  background: $color-gray-5;
  color: $color-gray-2;
  width: 100%;
  max-width: 72.8rem;
  height: 9rem;
  margin: $spacing-xlarge auto;
  display: flex;
  justify-content: center;
  align-items: center;
}