//
// ALERTS AND MESSAGE
//-----------------------------------------------------------------------

// ALLERTS

.alerts {
  display: block;
  position: fixed;
  width: 32rem;
  padding: $spacing-base*2 2rem;
  max-height: 100%;
  z-index: $zindex-alert;
  overflow-y: auto;

  .alert {
    padding-right: $spacing-base*2;
    margin-bottom: $spacing-base;
  }

  @media #{$breakpoint-medium} {
    width: 38rem;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
  }

}

.alerts--topleft {
  top: 0;
  left: 0;
}

.alerts--topright {
  top: 0;
  right: 0;
}

.alerts--bottomleft {
  bottom: 0;
  left: 0;

  .alert {
    animation: .4s 6s fadeOutLeft both;
  }

}

.alerts--bottomright {
  right: 0;
  bottom: 0;
}

.alert {
  background-color: $color-gray-1;
  position: relative;
  margin: $spacing-base 0 $spacing-small;
  padding: $spacing-base*2 $spacing-small $spacing-xsmall $spacing-xsmall;
  border-radius: $border-radius;
  color: $color-white;
}

.alert--brand {
  background: $color-brand-primary;
}

.alert--info {
  background: $color-info;
}

.alert--warning {
  background: $color-warning;
}

.alert--success {
  background: $color-success;
}

.alert--danger {
  background: $color-danger;
}


// MESSAGE

.message {
  height: $spacing-super*2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}