//
// ALERTS AND MESSAGE
//-----------------------------------------------------------------------

// ALLERTS

.alerts {
  display: block;
  position: fixed;
  width: 32rem;
  padding: $grid*2 2rem;
  max-height: 100%;
  z-index: $zindex-alert;
  overflow-y: auto;

  .alert {
    padding-right: $grid*2;
    margin-bottom: $grid;
  }

  @media (min-width: $wide) {
    width: 38rem;
    padding-right: $gutter;
    padding-left: $gutter;
  }

}

.alerts--topleft {
  top: 0;
  left: 0;
}

.alerts--topright {
  top: 0;
  right: 0;
}

.alerts--bottomleft {
  bottom: 0;
  left: 0;

  .alert {
    animation: .4s 6s fadeOutLeft both;
  }

}

.alerts--bottomright {
  right: 0;
  bottom: 0;
}

.alert {
  background-color: $gray-dark;
  position: relative;
  margin: $grid 0 $base-margin;
  padding: $grid*2 $grid*4 $grid*2 $grid*2;
  border-radius: $base-border-radius;
  color: $white;
}

.alert--brand {
  background: $brand-primary;
}

.alert--info {
  background: $brand-info;
}

.alert--warning {
  background: $brand-warning;
}

.alert--success {
  background: $brand-success;
}

.alert--danger {
  background: $brand-danger;
}


// MESSAGE

.message {
  height: $grid*20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}