//
// ALERTS AND MESSAGE
//-----------------------------------------------------------------------

// ALLERTS

.c-alerts {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 32rem;
  padding: $grid-gutter;
  max-height: 100%;
  z-index: $zindex-alert;
  overflow-y: auto;

  display: none;

  @media #{$breakpoint-medium} {
    width: 38rem;
    padding-right: $grid-gutter-md;
    padding-left: $grid-gutter-md;
  }

  .c-alert {
    //animation: .4s 6s fadeOutLeft both;
  }

  &.toggle-open {
    display: block;
  }
}

.c-alert {
  @extend .u-xsmall;
  background-color: $color-gray-1;
  border-radius: $border-radius;
  color: $color-white;
  padding: 1.2rem $spacing-small;
  margin: $spacing-small 0;
  position: relative;
}

.c-alert--brand {
  background: $color-brand-primary;
}

.c-alert--info {
  background: $color-info;
}

.c-alert--warning {
  background: $color-warning;
}

.c-alert--success {
  background: $color-success;
}

.c-alert--danger {
  background: $color-danger;
}


// INLINE BLOCK MESSAGE

.c-message-block {
  @extend .u-align-center;
  color: $color-gray-2;
  padding: $spacing-super;
}