//
// ARTICLES
//-----------------------------------------------------------------------

.c-articles {
  margin-bottom: $spacing-large;

  .c-article__item {
    display: grid;
    grid-template: auto auto / auto 1fr auto;
    grid-column-gap: $spacing-xsmall;
    grid-template-areas:
    "order link actions"
    "order meta actions";
    align-items: center;
    position: relative;

    &--upvoted {

      .c-article__actions {
        opacity: 1;
        z-index: 0;
      }

      .c-menu__toggle {
        opacity: 0;
      }

      .c-button--upvote {
        opacity: 1;
      }
    }
  }

  .c-article__order {
    color: $color-gray-2;
    font-size: 1.4rem;
    text-align: center;
    grid-area: order;
  }

  .c-article__link {
    font-size: 1.6rem;
    font-weight: $text-font-weight-medium;
    grid-area: link;
    margin-bottom: $spacing-tiny;
  }

  .c-article__meta-items {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: $color-gray-2;
    display: flex;
    grid-area: meta;
  }

  .c-article__meta-link {
    color: $color-gray-2;
    border-bottom: 1px solid transparent;

    &:hover, &:focus {
      color: $color-text;
      border-bottom-color: $color-text;
    }
  }

  .c-article__actions {
    grid-area: actions;

    &.toggle-open:after {
      display: none;
    }
  }

  @media #{$breakpoint-small-max} {

    .c-article__item {
      grid-column-gap: 0.2rem;
      margin-bottom: $spacing-small;

      &--upvoted {

        .c-menu__toggle {
          opacity: 1;
        }
      }
    }

    .c-article__order {
      width: $spacing-large;
    }

    .c-article__link {
      line-height: 2rem;
    }

    .c-article__meta-items {
      flex-wrap: wrap;
    }

    .c-article__meta-item {
      margin-right: $spacing-xsmall;

      &--categories {
        display: none;
      }
    }

    .c-article__item--snapshot {
      margin: $spacing-small;
      padding-bottom: $spacing-small;
      border-bottom: 1px solid $color-gray-4;
    }

    .c-menu {
      z-index: auto;

      .c-menu__toggle {
        z-index: auto;
      }
    }

    .c-button--upvote.c-button--active {
      display: inline-flex !important;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      width: $spacing-small;
      height: $spacing-xlarge;
      padding: 0;

      .c-button__icon {
        font-size: 1.6rem;
        margin: 0;
      }
    }

    .c-menu__toggle {
      margin-right: - $spacing-xsmall;
    }

  }

  @media #{$breakpoint-medium} {

    .c-article__item {
      border-radius: $border-radius;
      padding: $spacing-xsmall-md;
      transition: .1s;

      &:hover, &:focus, &.toggle-open {
        background: $color-white;
        box-shadow: $box-shadow-high;

        .c-article__actions {
          opacity: 1;
          z-index: $zindex-menu;
        }

        .c-article__action {
          opacity: 1;
        }
      }

      &.toggle-open {
        z-index: $zindex-menu;
      }
    }

    .c-article__order {
      font-size: 1.8rem;
      width: $spacing-large-md;
    }

    .c-article__link {
      font-size: 1.8rem;
      line-height: 140%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }

    .c-article__meta-items {
      font-size: 1.4rem;
    }

    .c-article__meta-item:not(:last-of-type) {
      margin-right: $spacing-medium-md;
    }

    .c-article__meta-link {
      position: relative;
      z-index: 2;
    }

    .c-article__actions {
      border-radius: 0 $border-radius $border-radius 0;
      padding-left: $spacing-small-md;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      opacity: 0;
    }

    .c-article__action:not(:first-of-type) {
      margin-left: $spacing-tiny-md;
    }

    .c-menu__content {
      top: calc(100% + 1.6rem);
      right: -1.6rem;
    }

    .c-button--upvote {
      width: 13rem;
    }
  }
}