//
// COMPONENTS / AVATARS
//-----------------------------------------------------------------------

.c-avatar {
  display: block;
  border-radius: $border-radius-rounded;
  width: 3.2rem;
  max-width: 100%;
  margin: 0;

  &--large {
    width: 8rem;
  }

  &--block {
    width: 8rem;
  }

  @media #{$breakpoint-medium} {

    &--block {
      width: 100%;
    }

    &--medium {
      width: 4rem;
    }

    &--large {
      width: $spacing-base * 14;
    }
  }
}