//
// BADGES
//-----------------------------------------------------------------------

.badge {
  display: inline-block;
  padding: 0 $spacing-base;
  background: $color-gray-1;
  color: $color-white;
  font-size: .9rem;
  line-height: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  border-radius: 2rem;

  &--brand {
    background: $color-brand-primary;
  }

  &--info {
    background: $color-info;
  }

  &--success {
    background: $color-success;
  }

  &--warning, &--yellow {
    background: $color-warning;
  }

  &--danger {
    background: $color-danger;
  }

}