//
// COMPONENTS / BUTTON
//-----------------------------------------------------------------------

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: $space-tiny $space-base;
  border: 3px solid;
  border-radius: 100em;
  color: $button-fg-color;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  &:hover, &:focus {
    text-decoration: none;
    border-color: $button-fg-color;
    background-color: $button-fg-color;
    color: $white;
    transition: all 0.15s ease-out;
  }

  @media #{$breakpoint-medium} {
    font-size: 1.375rem;
  }
}
