//
// BUTTONS
//-----------------------------------------------------------------------

button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4rem;
  border: 1px solid transparent;
  background: lighten($gray-lighter, 10%);
  color: $gray-dark;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 1.1rem $grid*3;
  vertical-align: middle;
  text-decoration: none;
  transition: all .15s ease-in-out;

  &:visited {
    color: $gray-dark;
  }

  &:hover,
  &:focus {
    background: $gray-lighter;
  }

  &:active,
  &.active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &[disabled] {
    cursor: none;
    pointer-events: none;
    opacity: .65;
    box-shadow: none;
  }

  &__icon {
    margin-right: $grid;
  }

  &--circle {
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    width: $grid*5;
    height: $grid*5;
    padding: 0;

    .btn__icon {
      margin: 0;
    }

  }

}


.btn--primary {
  border-color: $link-color;
  background: $link-color;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    border-color: $link-color-hover;
    background: $link-color-hover;
    color: $white;
  }

}

.btn--success {
  border-color: $brand-success;
  background: $brand-success;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    border-color: darken($brand-success, 6%);
    background: darken($brand-success, 6%);
    color: $white;
  }

}


// OUTLINE

.btn--outline-primary {
  border-color: $link-color;
  background: transparent;
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    border-color: $link-color-hover;
    background: $link-color;
    color: $white;
  }

}

.btn--outline-light {
  border-color: $white;
  background: transparent;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    border-color: $white;
    background: $white;
    color: $gray-dark;
  }

}


// OTHER

.btn--link {
  border-color: transparent;
  background: transparent;
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    border-color: transparent;
    background: transparent;
    color: $link-color-hover;
  }

}

.btn--loud {
  padding: 1.5rem $grid*4;

  .btn__icon {
    font-size: $grid*3;
  }

}

.btn--block {
  display: block;
}

.btn--close {
  background: no-repeat;
  position: absolute;
  right: $grid*2;
  padding: 0;
  outline: 0;
  color: $white;
  font-size: $grid*3;
  font-weight: normal;
  line-height: 1;
  opacity: .6;

  &:hover, &:focus {
    background: transparent;
    opacity: 1;
  }

}


// ACTIONS
//---------------------------

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.4rem;

  .btn {
    margin: $grid $grid/2;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

}