//
// BUTTONS
//-----------------------------------------------------------------------

button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
}


// TEXT

.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius-rounded;
  border: 1px solid transparent;
  background: transparent;
  color: $color-text;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem $spacing-small;
  vertical-align: middle;
  text-decoration: none;
  transition: all .15s ease-in-out;

  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus,
  &--active {
    background: $color-gray-5;
  }

  &:active {
    outline: 0;
  }

  &[disabled] {
    cursor: none;
    pointer-events: none;
    opacity: $disabled-opacity;
    box-shadow: none;
  }

  &__icon {
    margin-right: $spacing-base;
  }

  &--icon {
    display: inline-flex !important;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: $spacing-base*5;
    height: $spacing-base*5;
    padding: 0;

    .c-button__icon {
      margin: 0;
    }

    &.c-button--large {
      width: $spacing-large;
      height: $spacing-large;
    }
  }

  &--avatar {
    display: inline-flex !important;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: $spacing-base*6;
    height: $spacing-base*6;
    padding: 0 !important;
    margin: 0 !important;
  }

  &--light {
    color: $color-white;

    &:hover,
    &:focus,
    &.c-button--active {
      background: $color-white;
      color: $color-text;
    }
  }

  &--large {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
}


// DEFAULT

.c-button--default {
  background: $color-gray-5;
  color: $color-text;

  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus,
  &.c-button--active {
    background: $color-white;
    color: $color-text;
  }
}


// PRIMARY

.c-button--primary {
  background: $color-link;
  color: $color-white;

  &:visited {
    color: $color-white;
  }

  &:hover,
  &:focus {
    border-color: $color-link-hover;
    background: $color-link-hover;
    color: $color-white;
  }
}


// OUTLINE

.c-button--outline {
  border-color: $color-text;
  background: transparent;
  color: $color-text;

  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus,
  &.c-button--active {
    border-color: $color-text;
    background: $color-text;
    color: $color-white;
  }

  &.c-button--light {
    border-color: $color-white;
    background: transparent;
    color: $color-white;

    &:visited {
      color: $color-white;
    }

    &:hover,
    &:focus,
    &.c-button--active {
      border-color: $color-white;
      background: $color-white;
      color: $color-gray-1;
    }
  }
}


// COLOR MODIFIERS

.c-button--success {
  background: $color-success;
  color: $color-white;

  &:visited {
    color: $color-white;
  }

  &:hover,
  &:focus {
    background: darken($color-success, 6%);
    color: $color-white;
  }
}

.c-button--danger {
  border-color: $color-danger;
  background: $color-danger;
  color: $color-white;

  &:visited {
    color: $color-white;
  }

  &:hover,
  &:focus {
    background: darken($color-danger, 6%);
    color: $color-white;
  }
}


// BUTTON GROUPS


// OTHER

.c-button--block {
  display: block;
}

.c-button--close {
  background: no-repeat;
  position: absolute;
  right: $spacing-xsmall;
  padding: 0;
  outline: 0;
  color: $color-white;
  font-size: $spacing-small;
  font-weight: normal;
  line-height: 1;
  opacity: .6;

  &:hover, &:focus {
    background: transparent;
    opacity: 1;
  }
}


// ACTIONS
//---------------------------

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.4rem;

  .c-button {
    margin: $spacing-base $spacing-base/2;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}