//
// CHIPS
//-----------------------------------------------------------------------

.c-chip-set {
  margin-bottom: $spacing-medium;
}

.c-chip {
  display: inline-flex;
  padding: 0 $spacing-xsmall;
  background: $color-text;
  color: $color-white;
  font-size: 1.1rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-align: center;
  border-radius: $border-radius;

  &--light {
    background: rgba($color-white, .2);

    &:hover, &:focus {
      background: $color-white;
      color: $color-text;
    }
  }

  &--brand {
    background: $color-brand-primary;
  }

  &--info {
    background: $color-info;
  }

  &--success {
    background: $color-success;
  }

  &--warning {
    background: $color-warning;
  }

  &--danger {
    background: $color-danger;
  }
}