//
// COMPONENTS / DISCUSSION
//-----------------------------------------------------------------------

.c-discussion {

  &__header {
    border-bottom: $border-width solid $color-gray-3;
    margin-bottom: $spacing-small;
  }

  &__title {
    line-height: $spacing-super;
    margin: 0;
  }

  .c-avatar {
    margin-right: $spacing-small;
  }

  &__comment-field {
    grid-area: field;
    margin-bottom: 0 !important;

    &.toggle-open + .c-discussion__comment-footer { // Temp styling
      display: flex;
    }

    &.toggle-open .c-field__input { // Temp styling
      border-color: $color-brand-primary;
      border-bottom-width: .2rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .c-field__input {
    background: transparent;
    border-bottom-color: transparent;
    font-size: 1.6rem;
    padding: .3rem 0;
    display: inherit;

    &::placeholder {
      color: $color-gray-2;
      transition: .2s;
    }
  }

  &__comment-footer {
    padding-top: $spacing-small;
    grid-area: footer;
    display: none;
  }

  &__block {
    padding: $spacing-xlarge 0;

    &:nth-child(even) {
      background: $color-gray-5;
    }
  }

  &__entry-header {
    font-size: 1.3rem;
    line-height: 1.3;
    @extend .u-margin-bottom-xsmall;
  }

  &__entry {

    > .c-discussion__body {
       @extend .u-margin-bottom-medium;
    }

    .c-discussion__entry,
    .c-discussion__comment-box {
      margin-left: $spacing-base * 2.5;
    }

    .c-discussion__actions {
      margin-left: $spacing-base * 0;
    }
  }

  &__body {
    @extend .u-margin-bottom-large;
  }

  .c-discussion__toggle-replies {

    &:hover,
    &:focus {
      background: $color-white;
    }

    &.toggle-open .icon:before {
      transform: rotate(180deg);
    }
  }


  @media #{$breakpoint-medium} {

    .c-field__input {
      font-size: 1.8rem;
      padding: .5rem 0;
    }

    &__entry-header {
      font-size: 1.6rem;
    }

    .c-discussion__entry {

      .c-discussion__entry,
      .c-discussion__comment-box {
        margin-left: $spacing-base * 7;
      }

      .c-discussion__actions {
        margin-left: $spacing-base * 4.5;
      }
    }

  }


  // Temp styling

  .toggle-entries.toggle-closed,
  .toggle-entries-2.toggle-closed {
    display: none;
  }

  .c-discussion__comment-box.toggle-closed {
    display: none;
  }


}