  //
// COMPONENTS / DISCUSSION
//-----------------------------------------------------------------------

.c-discussion {

  .c-avatar {
    margin-right: $spacing-small;
  }

  &__block {
    padding: $spacing-xlarge 0;

    &:nth-child(odd) {
      background: $color-gray-5;
    }
  }

  &__entry-header {
    line-height: 1.4;
    @extend .u-margin-bottom-xsmall;
  }

  &__entry {

    > .c-discussion__body {
       @extend .u-margin-bottom-medium;
    }

    .c-discussion__actions,
    .c-discussion__entry,
    .c-discussion__comment-box {
      margin-left: $spacing-base * 2.5;
    }
  }

  &__body {
    @extend .u-margin-bottom-large;

    p {
      max-width: $text-font-width-base;
    }
  }

  .c-discussion__toggle-replies { // Move to button?

    &.toggle-open .icon {
      transform: rotate(180deg);
    }
  }


  @media #{$breakpoint-medium} {

    .c-discussion__entry {

      .c-discussion__actions,
      .c-discussion__entry,
      .c-discussion__comment-box {
        margin-left: $spacing-base * 7;
      }
    }

  }


  // Temp styling

  .toggle-entries.toggle-closed,
  .toggle-entries-2.toggle-closed {
    display: none;
  }

  .c-discussion__comment-box.toggle-closed {
    display: none;
  }


}


.c-compose {
  overflow: hidden;

  &__header {
    cursor: pointer;
  }

  &__username {
    display: none;
  }

  &__field {
    display: none;
  }

  &__actions {
    display: none;
  }

  &.toggle-open {
    background: $color-white;
    box-shadow: $box-shadow-high;
    padding: $spacing-medium;

    .c-compose__header {
      margin-bottom: $spacing-small;
    }

    .c-compose__username {
      display: block;
    }

    .c-compose__cat {
      display: none;
    }

    .c-compose__field {
      display: block;
    }

    .c-compose__input {
      background: transparent;
      border-bottom: none;
      height: 16rem;
      padding: 0;
      display: inherit;

      &::placeholder {
        color: $color-gray-2;
        transition: .2s;
      }
    }

    .c-compose__actions {
      display: flex;

      .c-button {
        margin-bottom: 0;
      }
    }

  }

}