//
// FILTER
//-----------------------------------------------------------------------

.c-filter {

  &__header {
    text-align: center;
  }

  &__title {
    line-height: $spacing-huge;
    margin: 0;
  }

  &__toggle.toggle-open .icon:before {
    content: $icon--x;
  }

  &__content {
    background: $color-gray-5;

    .l-container {
      padding-top: $spacing-large;
      padding-bottom: $spacing-large;
    }
  }

  &.toggle-open .c-filter__content {
    display: block;
  }

  &__items {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: $spacing-xsmall;
  }

  &__item {
    @extend .c-button;
    text-align: left;
    margin-bottom: $spacing-xsmall;
    display: block;
    position: relative;

    &:hover,
    &:focus {
      background: $color-white;
    }

    &--current {
      @extend .c-button--primary;
    }

   &--clear {
     padding-right: $spacing-large;

     &:before {
      @extend .icon;
      @extend .icon--x;
      font-size: 1.8rem;
      position: absolute;
      right: 1.2rem;
      top: calc(50% - .6rem);
     }
    }
  }


  @media #{$breakpoint-small-max} { // Modal style

    &__toggle {
      position: fixed;
      right: $grid-gutter;
      bottom: $grid-gutter;
      z-index: $zindex-filter + 10;
    }

    &__content {
      height: 100%;
      overflow: scroll;
      position: fixed;
      right: 0;
      bottom: -100%;
      left: 0;
      z-index: $zindex-filter;
      transition: .2s;
    }

    &.toggle-open {

      .c-filter__toggle {
        z-index: $zindex-filter + 120;
      }

      .c-filter__content {
        z-index: $zindex-filter + 110;
      }

      .c-filter__content {
        bottom: 0;
      }
    }

    &__items {
      margin-bottom: $spacing-medium;
    }

  }


  @media #{$breakpoint-medium} { // Inline style
    margin-bottom: $spacing-small-md;

    &__header {
      border-bottom: $border-width solid $color-gray-3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s;
    }

    &.toggle-open {

      .c-filter__content {
        max-height: 120rem;
      }
    }

  }
}