//
// FILTER
//-----------------------------------------------------------------------

.c-filter {

  &__header {
    text-align: center;
  }

  &__title {
    line-height: $spacing-super;
  }

  &__toggle.toggle-open .icon:before {
    content: "\e8f6";
  }

  &__content {
    background: $color-gray-5;
    padding: $spacing-large 0;
    display: none;
  }

  &.toggle-open .c-filter__content {
    display: block;
  }

  &__items {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: $spacing-xsmall;
  }

  &__item {
    @extend .c-button;
    @extend .c-button--default;
    text-align: left;
    margin-bottom: $spacing-xsmall;
    display: block;
    position: relative;

    &--current {
      @extend .c-button--primary;
    }

   &--clear {
     padding-right: $spacing-large;

     &:before {
      @extend .icon;
      @extend .icon--x;
      font-size: 1.8rem;
      position: absolute;
      right: 1.2rem;
      top: calc(50% - .6rem);
     }
    }
  }


  @media #{$breakpoint-small-max} { // Modal style

    &__toggle {
      position: fixed;
      right: $grid-gutter;
      bottom: $grid-gutter;
      z-index: $zindex-filter + 10;
    }

    &__content {
      height: 100%;
      overflow: scroll;
      position: fixed;
      right: 0;
      bottom: -100%;
      left: 0;
      z-index: $zindex-filter;
      transition: .2s;
    }

    &.toggle-open .c-filter__content {
      bottom: 0;
    }

    &__items {
      margin-bottom: $spacing-medium;
    }

  }


  @media #{$breakpoint-medium} { // Inline style
    margin-bottom: $spacing-small-md;

    &__header {
      border-bottom: $border-width solid $color-gray-3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.toggle-open .c-filter__header {
      border-color: transparent;
    }

  }
}