//
// FOOTER
//-----------------------------------------------------------------------

.c-footer {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  display: flex;
  align-content: center;
  justify-content: center;
}