//
// FOOTER
//-----------------------------------------------------------------------

.c-footer {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
  display: flex;
  align-content: center;
  justify-content: center;

  @media #{$breakpoint-medium} {


  }

}