//
// FORMS
//-----------------------------------------------------------------------

.form {
  margin-bottom: $base-margin*2;

  &__section {

  }

  .is-hidden {
    display: none;
  }

  .is-visible {
    animation: .4s .0s fadeInUp both;
  }

  &--dense {
    width: 100%;
    max-width: 48rem;
    margin-top: $base-margin;
    margin-right: auto;
    margin-left: auto;
  }

}

// FIELDS WITH FLOATING LABEL

.field {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 0 $spacing-base*2 0;
  border: none;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 1.4rem;
    color: $gray-light;
    transition: all .2s;
  }

  &__input {

    &::placeholder {
      color: $gray-lighter;
      transition: all .2s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
      opacity: 0;
    }

    width: 100%;
    padding: 1rem 0 $spacing-base*2;
    margin-top: 1.4rem;
    font-size: 1.8rem;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);

    &:placeholder-shown:not(:focus) + * {
      font-size: 1.8rem;
      color: $gray-light;
      top: 2.4rem;
    }

    &:focus {
      outline: none;
      border-color: $brand-primary;
    }

    &[disabled], &:disabled {
      opacity: .5;
      background: rgba(0,0,0,.05);
      cursor: not-allowed;
    }

    &--textarea-large { // #Fix auto height
      height: $spacing-base*20;
    }

  }

  &__helper {
    margin: $spacing-base/2 0 0 0;
    font-size: 1.4rem;
    color: $gray-light;
  }


  // STATES

  &--success {

    .field__input {
      border-color: $brand-success;
    }

    .field__helper {
      color: $brand-success;
    }

  }

  &--error {

    .field__input {
      border-color: $brand-danger;
    }

    .field__helper {
      color: $brand-danger;
    }

  }


  // DIFFERENT FIELDS

  &--file {
    padding: 1rem 0 $spacing-base;
    border-bottom: 1px solid rgba(0,0,0,.1);

    .field__label {
      position: static;
      display: flex;
      align-items: center;
      cursor: pointer;

      .btn {
        margin-left: auto;
      }

    }

    .field__inner-label {
      font-size: 1.8rem;
    }

    .field__input {
      display: none;
    }

  }

  &--select {
    position: relative;

    .field__input {
      padding: 1.4rem $spacing-base 1.2rem 0;
      background: $color-white;
      line-height: 1.2;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }

      &:hover, &:focus {
        color: $link-color;
      }

      &[disabled], &:disabled {
        color: $black;
        opacity: .5;
        background: rgba(0,0,0,.05);
        cursor: not-allowed;
      }

    }

    &:after {
      position: absolute;
      right: $spacing-base;
      top: $spacing-base*3.5;
      content: "\e842";
      margin-left: auto;
      transition: transform .2s;
    }

  }


  // DATES

  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"]
  input[type="number"] {
    line-height: 1;
    font-size: 1.4rem;
  }

}

// FILE


// CHECKBOXES AND RADIOS

.control-group {

}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: $base-border-radius;
    transition: .2s;
  }

  &--radio &__indicator {
    border-radius: 50%;
  }

  // Hover and focus states
  &:hover input ~ .control__indicator,
  input:focus ~ .control__indicator {
  	background: #ccc;
  }

  // Checked state
  input:checked ~ .control__indicator {
  	background: $link-color;
  }

  // Hover state whilst checked
  &:hover input:not([disabled]):checked ~ .control__indicator,
  input:checked:focus ~ .control__indicator {
  	background: $link-color-hover;
  }

  // Disabled state
  input:disabled ~ .control__indicator {
  	pointer-events: none;
  	opacity: .6;
  	background: #e6e6e6;
  }

  // Check mark
  &__indicator:after {
  	position: absolute;
  	display: none;
  	content: '';
  }

  // Show check mark
  input:checked ~ .control__indicator:after {
  	display: block;
  }

  // Checkbox tick
  &--checkbox .control__indicator:after {
  	top: 4px;
  	left: 8px;
  	width: 5px;
  	height: 10px;
  	transform: rotate(45deg);
  	border: solid #fff;
  	border-width: 0 2px 2px 0;
  }

  // Disabled tick colour
  &--checkbox input:disabled ~ .control__indicator:after {
  	border-color: #7b7b7b;
  }

  // Radio button inner circle
  &--radio .control__indicator:after {
  	top: 7px;
  	left: 7px;
  	width: 6px;
  	height: 6px;
  	border-radius: 50%;
  	background: #fff;
  }

  // Disabled circle colour
  &--radio input:disabled ~ .control__indicator:after {
  	background: #7b7b7b;
  }

}

// CONTROL BOXES

.control-box-group {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: $spacing-base;
  margin-bottom: $base-margin;
}

.control-box {

  &__helper {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__toggle {
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: $base-border-radius;
    transition: .2s;
    color: $link-color;
    border: 1px solid rgba($link-color, .5);
    //background: rgba(0,0,0,.05);

    &:hover, &:focus {
      background: rgba($link-color, .05);
      border-color: $link-color;
    }

  }

  &__icon {
    font-size: $spacing-base*4;
    margin-bottom: $spacing-base;
  }

  &__helper:checked ~ .control-box__toggle {
    background: $brand-primary;
    color: $color-white;

    &:hover, &:focus {
      //background: $link-color-hover;
    }
  }

  &__helper:disabled ~ .control-box__toggle {
    border-color: rgba(0,0,0,.1);
    color: $gray-light;
    cursor: not-allowed;

    &:hover, &:focus {
      background: rgba(0,0,0,.05);
    }

  }

}

.form__actions {
  margin-top: $base-margin*2;
}