//
// HERO
//-----------------------------------------------------------------------

// HERO

.hero {
  padding-top: $nav-height + $spacing-base * 4;
  padding-bottom: $spacing-base * 4;
  margin-bottom: $base-margin;
  margin-top: -$padding-top;
  background: $background-light-gray;

  &__header {
    margin-bottom: $spacing-base;
  }

  &__actions {
    justify-content: flex-start;
  }

  @media #{$breakpoint-medium} {

    &__inner {
      display: grid;
      grid-template: auto / 5fr 1fr;
      grid-gap: 0 $spacing-base*4;
    }

    &__actions {
      justify-content: flex-end;
      align-items: center;
    }

  }

}


// HERO LOUD

.hero-loud {
  overflow: hidden;
  padding-top: $nav-height + $spacing-base * 6;
  padding-bottom: $spacing-base * 4;
  margin-bottom: $base-margin;
  margin-top: -$padding-top;
  background: $brand-secendary no-repeat center center / cover;
  position: relative;

  &--no-margin {
    margin-bottom: 0;
  }

  &--img:after {
    content: '';
    background-image: linear-gradient(-180deg, rgba(0,0,0,0) 0%, $black 100%);
    @include abs-cover;
    top: 40%;
  }

  &__image {
    position: absolute;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0px;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;
    //animation: .4s .2s fadeIn both;
  }

  &__header {
    margin-bottom: $spacing-base;

    & + .hero-loud__brand {
      margin-top: $base-margin;
    }

  }

  &__meta {
    margin-bottom: $spacing-base * 4;
  }

  &__brand {
    margin-bottom: $base-margin;
  }

  &__nav {
    margin-bottom: -$spacing-base * 4;
  }

  &__nav .nav__link {
    font-size: 1.8rem;
  }

}
