//
// HERO
//-----------------------------------------------------------------------

.c-hero {
  background: $color-brand-primary;
  min-height: 70vh;
  padding-top: $spacing-super + $spacing-xsmall;
  overflow: hidden;
  position: relative;
  display: flex;

  &--business {

  }

  &__media {
    filter: grayscale(100%);
    opacity: .2;
    position: absolute;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0px;
  }

  &__content {
    color: $color-white;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    z-index: 2;
  }

  &__content-inner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend .u-header-xlarge;
    font-family: $text-font-family-serif;
    font-weight: $text-font-weight-massive;
    @extend .u-margin-bottom-small;
  }

  &__meta-items {
    @extend .u-margin-bottom-small;
    display: flex;
  }

  &__meta-item {
    color: $color-white;
    font-size: 1.3rem;

    &:not(:last-of-type) {
      margin-right: $spacing-medium;
    }
  }

  &__meta-link {
    color: $color-white;
    border-bottom: 1px solid transparent;

    &:hover, &:focus {
      border-bottom-color: $color-white;
    }
  }

  &__article-link {
    @extend .u-margin-bottom-small;
  }

  &__actions {
    width: 100%;
    margin-bottom: $spacing-medium;
    align-self: end;
  }


  @media #{$breakpoint-medium} {
    padding-top: $spacing-xlarge + $spacing-small + $spacing-xsmall;

    &__meta-item {
      font-size: 1.4rem;
    }

    &__actions {
      margin-bottom: $spacing-base-md * 5;
    }
  }
}
