//
// HERO
//-----------------------------------------------------------------------

.c-hero {
  background: darken($color-brand-primary, 10%);
  //background: $color-gray-5;
  min-height: 70vh;
  padding-top: $spacing-huge + $spacing-xsmall;
  //overflow: hidden;
  position: relative;
  display: flex;

  &--business {

  }

  &__media {
    filter: grayscale(100%);
    opacity: .1;
    position: absolute;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0px;
  }

  &__content {
    color: $color-white;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    z-index: $zindex-navbar - 10;
  }

  &__content-inner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend .u-header-xlarge;
    margin-top: $spacing-xlarge;
    //@extend .u-margin-bottom-small;
    font-family: $text-font-family-serif;
  }

  &__meta-items {
    @extend .u-margin-bottom-small;
    display: flex;
    justify-content: center;
  }

  &__meta-item {
    color: rgba($color-white, .7);
    font-size: 1.3rem;
    margin: 0 $spacing-xsmall;
  }

  &__meta-link {
    color: rgba($color-white, .7);
    border-bottom: 1px solid transparent;

    &:hover, &:focus {
      border-bottom-color: rgba($color-white, .7);
    }
  }

  &__article-link {
    @extend .u-margin-bottom-small;
  }

  &__actions {
    width: 100%;
    margin-bottom: $spacing-medium;
    align-self: end;
    text-align: left;
  }

  @media #{$breakpoint-small-max} {

    &__meta-items {
      flex-wrap: wrap;
    }

  }

  @media #{$breakpoint-medium} {
    padding-top: $spacing-xlarge + $spacing-small + $spacing-xsmall;

    &__meta-item {
      font-size: 1.4rem;
      margin: 0 $spacing-small;
    }

    &__actions {
      margin-bottom: $spacing-base-md * 5;
    }
  }
}
