//
// ICONS
//-----------------------------------------------------------------------

.icon {
  font-size: 2.4rem;

  &, &:before, &:after {
    line-height: 0.7;
  }

  &:before {
    position: relative;
    top: 1px;
  }

}