//
// ICONS
//-----------------------------------------------------------------------

.icon {
  font-size: 24px;
  display: inline-block;

  &, &:before, &:after {
    line-height: .7;
    vertical-align: -.2rem;
  }
}