//
// MEDIA
//-----------------------------------------------------------------------

img {
  width: 100%;
  max-width: 100%;
  margin: 0 0 $spacing-small 0;
  display: block;
}

figure {
  margin: 0;
}