//
// MEDIA
//-----------------------------------------------------------------------

img {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-medium;
  display: block;
}

figure {
  margin: 0;
}