//
// MENU
//-----------------------------------------------------------------------

.c-menu {
  position: relative;

  &__toggle {
    outline: none;
    margin: 0;
  }

  &__content {
    background: $color-white;
    display: none;
    @extend .u-high;
    position: relative;
  }

  &.toggle-open .c-menu__content {
    display: block;
  }

  &.toggle-open {
    z-index: $zindex-mask;

    .c-menu__toggle {
      position: relative;
      z-index: $zindex-mask + 20;
    }

    .c-menu__content {
      z-index: $zindex-mask + 20;
    }

    @include mask;
  }

  @media #{$breakpoint-small-max} { // Drawer style

    &__content {
      position: fixed;
      top: auto;
      right: 0;
      bottom: -100%;
      left: 0;
      transition: bottom .2s;
    }

    &.toggle-open .c-menu__content {
      bottom: 0;
    }
  }

  @media #{$breakpoint-medium} { // Dropdown style

    &__content {
      overflow: hidden;
      border-radius: $border-radius;
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: .3rem;
      z-index: $zindex-menu;
      animation: .1s 0s fadeIn both;
    }
  }

}
