//
// MENU
//-----------------------------------------------------------------------

.c-menu {
  position: relative;
  //z-index: $zindex-menu;

  &__toggle {
    outline: none;
    margin: 0;

    &.toggle-open {
      z-index: $zindex-menu;
    }
  }

  &__content {
    background: $color-white;
    display: none;
    @extend .u-high;
    z-index: $zindex-menu;
  }

  &.toggle-open .c-menu__content {
    display: block;
  }

  @media #{$breakpoint-small-max} { // Drawer style

    &__content {
      position: fixed;
      top: auto;
      right: 0;
      bottom: -100%;
      left: 0;
      transition: bottom .2s;
    }

    &.toggle-open .c-menu__content {
      bottom: 0;
    }
  }

  @media #{$breakpoint-medium} { // Dropdown style

    &__content {
      overflow: hidden;
      border-radius: $border-radius;
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: .3rem;
      z-index: $zindex-menu;
    }
  }

}
