//
// NAVBAR
//-----------------------------------------------------------------------

.c-navbar {
  z-index: $zindex-navbar;
  height: $spacing-base*8;
  margin-top: $spacing-small;
  margin-bottom: $spacing-xsmall;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
    background: url("../images/worldtoday.svg") no-repeat scroll center center / 100% auto;
    text-indent: -999999px;
    display: block;
    width: 19rem;
    height: $spacing-base*8;

    &:hover, &:focus {
      opacity: .6;
    }
  }
}