//
// NAVBAR
//-----------------------------------------------------------------------

.c-navbar {
  height: $spacing-super;
  margin-bottom: $spacing-xsmall;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: $zindex-navbar;

  &__brand {
    background: url("../images/worldtoday.svg") no-repeat scroll center center / 100% auto;
    text-indent: -999999px;
    display: block;
    width: 14rem;
    height: $spacing-xlarge;

    &:hover, &:focus {
      //opacity: .6;
    }
  }

  &--light {

    .c-navbar__brand {
      filter: invert(100%) brightness(3);
    }

    .c-navbar__nav > .c-nav__link {
      @extend .c-button--light;
    }
  }

  @media #{$breakpoint-medium} {
    margin-top: $spacing-small-md;
    margin-bottom: $spacing-xsmall-md;

    &__brand {
      width: 19rem;
    }
  }
}