//
// COMPONENTS / NAVIGATION
//-----------------------------------------------------------------------

.c-navigation {
  padding-top: $space-base;

  @media #{$breakpoint-medium} {
    padding-top: $space-xlarge-md;
  }
}

.c-navigation__link {
  text-decoration: none;
  font-weight: bold;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.c-navigation__logo {
  img {
    height: 32px;
  }

  @media #{$breakpoint-medium} {
    img {
      height: 41px;
    }
  }
}
