//
// BASE
//-----------------------------------------------------------------------

body {
  display: grid;
  height: 100%;
  grid-template: auto 1fr auto / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.l-header {
  grid-area: header;
}

.l-main {
  grid-area: main;

  &--vcenter {
    display: grid;
    align-items: center;
  }
}

.l-footer {
  grid-area: footer;
}