//
// LAYOUT / CONTAINER
//-----------------------------------------------------------------------

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  padding: 0 $space-small;

  @media #{$breakpoint-medium} {
    padding: 0 $space-base-md;
  }
}

.l-container--narrow {
  max-width: 48rem;
}
