//
// CONTAINER
//-----------------------------------------------------------------------

.l-container {
  margin: 0 auto;
  padding: 0 $grid-gutter;
  width: 100%;
  max-width: 130rem;

  &--dense {
    max-width: 80rem;
  }

  @media #{$breakpoint-medium} {
    padding: 0 $grid-gutter-md;
  }
}