//
// CONTAINER
//-----------------------------------------------------------------------

.l-container {
  margin: 0 auto;
  padding: 0 $grid-gutter;
  width: 100%;
  max-width: 130rem;

  &--small {
    max-width: 90rem;
  }

  @media #{$breakpoint-medium} {
    padding: 0 $grid-gutter-md;
  }
}


// MAX WIDTHS

.l-width-xsmall {
  max-width: 26rem;
}