//
// CONTAINER
//-----------------------------------------------------------------------

.l-container {
  margin: 0 auto;
  padding: 0 $grid-gutter;
  width: 100%;
  max-width: 130rem;

  &--small {
    max-width: $text-font-width-base + ($grid-gutter-md * 2) + ($spacing-base * 7);
  }

  @media #{$breakpoint-medium} {
    padding: 0 $grid-gutter-md;
  }
}


// MAX WIDTHS

.l-width-xsmall {
  max-width: 26rem;
}

.l-width-small {
  max-width: 40rem;
}