// LAYOUT / LISTS
//-----------------------------------------------------------------------

.l-list {
  display: flex;
  flex-direction: column;

  > li {
    margin-bottom: $spacing-xsmall;
  }

  @media #{$breakpoint-medium} {
    > li {
      margin-bottom: $spacing-xsmall-md;
    }
  }
}

.l-list--inline {
  flex-direction: row;

  > li + li {
    margin-left: $spacing-small;
  }
}