//
// LAYOUT / LIST
//-----------------------------------------------------------------------

.l-list {
  display: flex;
  flex-direction: column;

  > li + li {
    margin-top: $space-small;
  }
}

.l-list--inline {
  flex-direction: row;

  > li + li {
    margin-top: 0;
    margin-left: $space-small;
  }
}
