//
// LISTS
//-----------------------------------------------------------------------

.list-inline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing-base * 2;

  &__item {
    margin-right: $spacing-base * 2;
    white-space: nowrap;

    &:last-of-type {
      margin-right: 0;
    }

  }


  &--muted {
    color: $color-gray-4;
  }

  &--tiny {
    font-size: 1.3rem;
  }

}