//
// MEDIA
//-----------------------------------------------------------------------

.l-media {
  display: flex;
  align-items: center;

  &__image {
    flex: 0 1 auto;
  }

  &__body {
    flex: 1;
  }
}