//
// MODAL
//-----------------------------------------------------------------------

.l-modal {
  padding: $grid-gutter;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    @extend .u-high;
    background-color: $color-gray-5;
    border: 0;
    border-radius: $border-radius;
    padding: $spacing-large;
    position: relative;
  }

  &--small {
    .l-modal__content {
      //padding: $spacing-medium;
    }
  }

  &--spaced {
    .l-modal__content {
       padding: $spacing-large $spacing-medium;
    }
  }

  &--full {
    .l-modal__content {
      padding: $grid-gutter;
      transform: none;
    }
  }

  &.l-modal--visible,
  &.toggle-open {
    visibility: visible;
    opacity: 1;
  }

  @media #{$breakpoint-small-max} { // FULL COVER


  }

  @media #{$breakpoint-medium} {

    &__content {
      //width: 75%;
      max-width: 76rem;
      margin: $spacing-large 0;
    }

    &--small {
      .l-modal__content {
        //width: auto;
        //padding: $spacing-medium;
      }
    }

    &--spaced {
      .l-modal__content {
         padding: $spacing-xlarge $spacing-base*20;
      }
    }

  }
}