{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main">

    <div class="l-container">
      <div class="l-section">

        <h1 class="u-header-huge u-margin-bottom-large">Gathered <span class="u-text-primary">news</span> from all corners of the world</h1>

        <div class="l-grid">
          <div class="l-grid__item--span-2">

          </div>
          <div class="l-grid__item--span-4">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>

      </div>

      <div class="l-section">

        <div class="l-grid">
          <div class="l-grid__item--span-2">
            <h2>1</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
          <div class="l-grid__item--span-2">
            <h2>2</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
          <div class="l-grid__item--span-2">
            <h2>3</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>

      </div>

      <div class="l-section">

        <div class="l-grid">
          <div class="l-grid__item--span-4 l-grid__item--offset-2">
            <h1 class="u-header-huge u-margin-bottom-large">Gathered news from all corners of the world</h1>
          </div>
          <div class="l-grid__item--span-4">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
          <div class="l-grid__item--span-4 l-grid__item--offset-2">
            <img src="https://source.unsplash.com/1600x1200/?nature">
          </div>
          <div class="l-grid__item--span-4">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>

      </div>

    </div>

    <div class="l-grid">
      <div class="l-grid__item--span-2">
        <img src="https://source.unsplash.com/1600x1200/?ocean">
      </div>
      <div class="l-grid__item--span-4">
        <img src="https://source.unsplash.com/1600x1200/?mountains">
      </div>
  </main>

{{ end }}
