{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main l-main--pull-upwards">

    <div class="c-hero">
      <img class="c-hero__media" src="https://source.unsplash.com/twYQ50H_FdY/2600x2200/">
      <div class="c-hero__content l-container l-container--small">
        <div class="c-hero__content-inner">
          <h1 class="c-hero__title">Far far away, behind the word mountains, far from the countries</h1>
          <ul class="c-hero__meta-items">
            <li class="c-hero__meta-item"><a href="#" class="c-hero__meta-link">Vox.com</a></li>
            <li class="c-hero__meta-item">5h ago</li>
            <li class="c-hero__meta-item">2.1k upvotes</li>
            <li class="c-hero__meta-item"><a href="#" class="c-hero__meta-link">64 comments</a></li>
          </ul>
          <a href="#" class="c-hero__article-link c-button c-button--light">Read article</a>
          <nav class="c-chip-set">
            <a href="#" class="c-chip c-chip--light">Science</a>
            <a href="#" class="c-chip c-chip--light">Global Warming</a>
          </nav>
        </div>
        <div class="c-hero__actions c-input-group">
          <button class="l-flex--grow c-button c-button--outline c-button--light c-button--large"><span class="icon c-button__icon icon--arrow-up"></span>Upvote</button>
          <button class="c-button c-button--outline c-button--light c-button--large c-button--icon"><span class="icon icon--bookmark"></span></button>
          <button class="c-button c-button--outline c-button--light c-button--large c-button--icon" data-toggle="#share, body"><span class="icon icon--share"></span></button>
        </div>
      </div>
    </div>

    <div class="c-discussion">

      <div class="c-discussion__block">
        <div class="l-container l-container--small">
          <!-- <div class="c-discussion__header">
            <h3 class="c-discussion__title">39 comments</h3>
          </div> -->
          <div class="c-discussion__comment-box">
            <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
            <div class="c-discussion__comment-field c-field">
              <textarea rows="1" class="c-field__input c-field__input--show-placeholder" placeholder="Write a public comment..." data-toggle=".c-discussion__comment-field"></textarea>
            </div>
            <div class="c-discussion__comment-footer c-actions">
              <button class="c-button" data-toggle=".c-discussion__comment-field">Cancel</button>
              <button class="c-button c-button--primary">Post comment</button>
            </div>
          </div>
        </div>
      </div>

      <div class="c-discussion__block">
        <div class="l-container l-container--small">

          <div class="c-discussion__entry">
            <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
            <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
            <div class="c-discussion__content">
              <div class="c-discussion__body">
                <p>Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__comment-box">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <div class="c-discussion__comment-field c-field">
                  <textarea rows="1" class="c-field__input" placeholder="Write a public comment..." data-toggle=".c-discussion__comment-field"></textarea>
                </div>
                <div class="c-discussion__comment-footer c-actions">
                  <button class="c-button">Cancel</button>
                  <button class="c-button c-button--primary" disabled="disabled">Post comment</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="c-discussion__block">
        <div class="l-container l-container--small">

          <div class="c-discussion__entry">
            <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
            <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
            <div class="c-discussion__content">
              <div class="c-discussion__body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__comment-box">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <div class="c-discussion__comment-field c-field">
                  <textarea class="c-field__input" placeholder="Write a public comment..." data-toggle=".c-discussion__comment-field"></textarea>
                </div>
                <div class="c-discussion__comment-footer c-actions">
                  <button class="c-button">Cancel</button>
                  <button class="c-button c-button--primary">Post comment</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="c-discussion__block">
        <div class="l-container l-container--small">

          <div class="c-discussion__entry">
            <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
            <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
            <div class="c-discussion__content">
              <div class="c-discussion__body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__entry">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <header class="c-discussion__entry-header"><span class="u-text-loud">Johannes Leuchovius</span></span><span class="u-text-quiet">6h ago</span></header>
                <div class="c-discussion__content">
                  <div class="c-discussion__body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                </div>
              </div>

              <div class="c-discussion__comment-box">
                <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--medium">
                <div class="c-discussion__comment-field c-field">
                  <textarea class="c-field__input" placeholder="Write a public comment..." data-toggle=".c-discussion__comment-field"></textarea>
                </div>
                <div class="c-discussion__comment-footer c-actions">
                  <button class="c-button">Cancel</button>
                  <button class="c-button c-button--primary">Post comment</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

  </main>

{{ end }}
