{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main l-container">

    <section>
      <h1>Buttons</h1>
      <button class="btn">Text</button>
      <button class="btn"><span class="icon btn__icon icon--heart"></span>Text</button>
      <button class="btn btn--icon"><span class="icon btn__icon icon--heart"></span></button><br><br>

      <button class="btn btn--default">Default</button>
      <button class="btn btn--default"><span class="icon btn__icon icon--heart"></span>Default</button>
      <button class="btn btn--default btn--icon"><span class="icon btn__icon icon--heart"></span></button><br><br>

      <button class="btn btn--primary">Primary</button>
      <button class="btn btn--primary"><span class="icon btn__icon icon--heart"></span>Primary</button>
      <button class="btn btn--primary btn--icon"><span class="icon btn__icon icon--heart"></span></button><br><br>

      <button class="btn btn--outline">Outline</button>
      <button class="btn btn--outline"><span class="icon btn__icon icon--heart"></span>Outline</button>
      <button class="btn btn--outline btn--icon"><span class="icon btn__icon icon--heart"></span></button><br><br>

      <button class="btn btn--outline-light">Outline light</button>
      <button class="btn btn--outline-light"><span class="icon btn__icon icon--heart"></span>Outline light</button>
      <button class="btn btn--outline-light btn--icon"><span class="icon btn__icon icon--heart"></span></button><br><br>

      <button class="btn btn--success">Success</button>
      <button class="btn btn--danger">Danger</button>
    </section>


  </main>


{{ end }}
