{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main l-container">

    <section class="u-margin-bottom-large">
      <h1>Typography</h1>

      <h1 class="u-super">H1 super far far away</h1>
      <h1 class="u-xlarge">H1 xlarge far far away</h1>
      <h1 class="u-xlarge u-text-serif">H1 xlarge far far away</h1>
      <h1>H1 far far away</h1>
      <h2>H2 far far away</h2>
      <h3>H3 far far away</h3>
      <h4>H4 far far away</h4>

      <p>Far far away, behind the word <span class="u-text-loud">mountains</span>, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in <span class="u-text-primary">Bookmarksgrove</span> right at the coast of the Semantics, a large language ocean.</p>
      <p class="u-text-xsmall">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

    </section>

    <section class="u-margin-bottom-large">
      <h1>Buttons</h1>
      <button class="c-button">Text</button>
      <button class="c-button"><span class="icon c-button__icon icon--heart"></span>Text</button>
      <button class="c-button c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--default">Default</button>
      <button class="c-button c-button--default"><span class="icon c-button__icon icon--heart"></span>Default</button>
      <button class="c-button c-button--default c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--primary">Primary</button>
      <button class="c-button c-button--primary"><span class="icon c-button__icon icon--heart"></span>Primary</button>
      <button class="c-button c-button--primary c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--primary u-small">Primary</button>
      <button class="c-button c-button--primary u-small"><span class="icon c-button__icon icon--heart"></span>Primary</button>
      <button class="c-button c-button--primary u-small c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--outline">Outline</button>
      <button class="c-button c-button--outline"><span class="icon c-button__icon icon--heart"></span>Outline</button>
      <button class="c-button c-button--outline c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--outline-light">Outline light</button>
      <button class="c-button c-button--outline-light"><span class="icon c-button__icon icon--heart"></span>Outline light</button>
      <button class="c-button c-button--outline-light c-button--icon"><span class="icon c-button__icon icon--heart"></span></button><br><br>

      <button class="c-button c-button--success">Success</button>
      <button class="c-button c-button--danger">Danger</button>
    </section>

    <section class="u-margin-bottom-large">
      <h1>Forms</h1>

      <div class="c-field">
				<input class="c-field__input" id="username" type="text" placeholder="Your username here..." value="">
				<label class="c-field__label" for="username">Username</label>
      </div>

      <div class="c-field">
				<input class="c-field__input" id="fullName" type="text" placeholder="Your name here..." value="Johannes Leuchovius">
				<label class="c-field__label" for="fullName">Full name</label>
      </div>

    </section>


  </main>


{{ end }}
