{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main">

    <div class="l-container">
      <div class="l-section">

        <h1 class="u-header-huge u-margin-bottom-large">Contact World Today</h1>
        <img class="u-max-height-medium u-margin-bottom-xlarge" src="/assets/images/illustration-contact.svg" alt="" />

        <div class="l-grid">
          <div class="l-grid__item--span-4 l-grid__item--offset-2">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large u-text-loud">
              <a href="mailto:hello@worldtoday.app">hello@worldtoday.app</a><br><br>
              World Today AB<br>
              Gatangatan 5<br>
              411 37 Gothenburg, Sweden
            </p>
          </div>
        </div>

      </div>

    </div>

  </main>

{{ end }}
