{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main">

    <div class="l-container">
      <div class="l-section">

        <h1 class="u-header-huge u-margin-bottom-large">Feedback about World Today</h1>
        <img class="u-max-height-medium u-margin-bottom-xlarge" src="/assets/images/illustration-feedback.svg" alt="" />

        <div class="l-grid">
          <div class="l-grid__item--span-4 l-grid__item--offset-2">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean
              <a href="mailto:feedback@worldtoday.app">feedback@worldtoday.app</a>
            </p>
          </div>
        </div>

      </div>

    </div>

  </main>

{{ end }}
