{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main">

    <div class="l-container">
      <div class="l-section">

        <h1 class="u-header-huge u-margin-bottom-large">World Today Privacy Policy</h1>
        <img class="u-max-height-medium u-margin-bottom-xlarge" src="/assets/images/illustration-eyes.svg" alt="" />

        <div class="l-grid">
          <div class="l-grid__item--span-4 l-grid__item--offset-2">
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p class="u-text-large">Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p class="u-text-large">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>

      </div>

    </div>

  </main>

{{ end }}
