{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main l-container u-margin-top-medium">

    <div class="l-grid u-margin-bottom-medium">
      <div class="l-grid__item--span-1">
        <img src="/assets/images/avatar-member-johannes.png" alt="" class="c-avatar c-avatar--block u-margin-bottom-xsmall">
      </div>
      <div class="l-grid__item--span-4">
        <h1>Johannes Leuchovius</h1>
        <p>Far far away, behind the word mountains, far from the countries <a href="#">Vokalia and Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <ul class="l-list l-list--inline u-text-quiet">
          <li><a class="c-link" href="#">Johannesleuchovius.com</a></li>
          <li><a class="c-link" href="#">Facebook</a></li>
          <li><a class="c-link" href="#">Instagram</a></li>
          <li><a class="c-link" href="#">E-mail</a></li>
        </ul>
      </div>
    </div>

    <nav class="c-nav c-nav--tabs">
      <a href="/profile.html" class="c-nav__link c-nav__link--current">Upvotes</a>
      <a href="/settings.html" class="c-nav__link">Comments</a>
      <a href="/signed-out.html" class="c-nav__link">Saved</a>
    </nav>

    {{ template "part/articles--unordered" . }}

    {{ template "part/pagination" . }}

  </main>

{{ end }}