{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main">

    <div class="c-filter c-filter--health">
      <div class="l-container">
        <div class="c-filter__header">
          <h3 class="c-filter__title">Health <span class="u-text-quiet">toplist</span></h3>
          <button class="c-filter__toggle c-button c-button--dark" data-toggle=".c-filter"><span class="c-button__icon icon icon--sliders"></span>Filter</button>
        </div>
      </div>
      <div class="c-filter__divider"></div>
      <div class="c-filter__content">
        <div class="l-container l-grid">
          <section class="c-filter__sections l-grid__item--span-3">
            <h4>Sections</h4>
            <nav class="c-filter__items">
              <a class="c-filter__item c-button--business" href="#">Business</a>
              <a class="c-filter__item c-button--economics" href="#">Economics</a>
              <a class="c-filter__item c-button--environment" href="#">Environment</a>
              <a class="c-filter__item c-button--general" href="#">General</a>
              <a class="c-filter__item c-button--health c-button--active c-button--clear" href="#">Health</a>
              <a class="c-filter__item c-button--politics" href="#">Politics</a>
              <a class="c-filter__item c-button--science" href="#">Science</a>
              <a class="c-filter__item c-button--technology" href="#">Technology</a>
            </nav>
          </section>
          <section class="c-filter__topics l-grid__item--span-2">
            <h4>Topics</h4>
            <nav class="c-filter__items">
              <a class="c-filter__item" href="#">Brexit</a>
              <a class="c-filter__item" href="#">Meeto</a>
              <a class="c-filter__item" href="#">Global Warming</a>
              <a class="c-filter__item" href="#">Donald Trump</a>
              <a class="c-filter__item" href="#">Migration</a>
              <a class="c-filter__item" href="#">Melania Trump</a>
            </nav>
          </section>
          <section class="c-filter__sort l-grid__item--span-1">
            <h4>Sort by</h4>
            <nav class="c-filter__items">
              <a class="c-filter__item c-button--dark c-button--active" href="#">Toplist</a>
              <a class="c-filter__item" href="#">Newest</a>
            </nav>
          </section>
        </div>
      </div>
    </div>

    <div class="l-container">

      {{ template "part/articles--section" . }}

      {{ template "part/pagination" . }}

      <div class="c-google-ad">Google ad</div>

    </div>

  </main>

{{ end }}
