{{ define "title" }}{{.String.Title_Index}}{{ end }}
{{ define "main" }}

  <main class="l-main l-container l-container--small">

    <nav class="c-nav c-nav--tabs">
      <a href="/settings-profile.html" class="c-nav__link">Profile</a>
      <a href="/settings-password.html" class="c-nav__link c-nav__link--current">Password</a>
      <a href="/settings-account.html" class="c-nav__link">Account</a>
      <a href="/settings-notifications.html" class="c-nav__link">Notifications</a>
    </nav>

    <div class="c-form">

      <div class="c-field">
				<input class="c-field__input" id="oldpassword" type="text" placeholder="Your old password" value="">
				<label class="c-field__label" for="oldpassword">Old password</label>
      </div>

      <div class="c-field">
				<input class="c-field__input" id="newpassword" type="text" placeholder="Enter a new password" value="">
				<label class="c-field__label" for="newpassword">New password</label>
      </div>

      <div class="c-field">
				<input class="c-field__input" id="repeatnewpassword" type="text" placeholder="Repeat your new password" value="">
				<label class="c-field__label" for="repeatnewpassword">Repeat new password</label>
      </div>

      <div class="c-form__footer c-actions">
        <button class="c-button c-button--default">Cancel</button>
        <button disabled class="c-button c-button--primary l-flex--grow">Update password</button>
      </div>

    </div>

  </main>

{{ end }}